# Wrangling

In [28]:
import pandas as pd
import datetime
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np
import math
from itertools import cycle

In [41]:
def repite_años(df):
    max_length =  math.ceil((len(df)+1)/4)
    length_out = len(df)
    Año=[]
    for i in range(1986, 1986 + max_length):
        Año.append(i)
        # print(i)
    Año = np.repeat(Año, 4)[:length_out]
    # print(Año)
    return Año

repite_años(GR_trimestr)

def repite_trimestres(df):
    l = []
    p = cycle([1, 2, 3, 4])
    for i, v in enumerate(p):
        # print(v)
        l.append(v)
        if i >= (len(df)-1):break
    return l

In [55]:
link = "https://www.indec.gob.ar/ftp/cuadros/economia/sh_indicesexpgr_04.xls" #Grandes rubros trimestrales
header_gr = ["año", "ng_v", "ng_q", "ng_p", "d_1", "pp_v", "pp_q", "pp_p", "d_2","moa_v", "moa_q", "moa_p",
          "d_3", "moi_v", "moi_q", "moi_p", "d_4", "cye_v", "cye_q", "cye_p"]
GR_trimestr = pd.read_excel("./Inputs/sh_indicesexpgr_04.xls", skiprows=4, skipfooter=6, names=header_gr)
GR_trimestr["año"] =repite_años(GR_trimestr)
GR_trimestr["trimestres"] = repite_trimestres(GR_trimestr)
GR_trimestr.dropna(how='all', axis = 1)

,año,ng_v,ng_q,ng_p,pp_v,pp_q,pp_p,moa_v,moa_q,moa_p,moi_v,moi_q,moi_p,cye_v,cye_q,cye_p,trimestres
0,1986,17.5,69.8,25.1,29.5,71.9,41.0,19.1,75.7,25.3,14.7,67.1,21.9,5.4,45.7,11.8,1
1,1986,22.8,72.7,31.3,57.0,75.0,75.9,21.4,72.8,29.4,14.2,68.0,20.8,0.9,48.5,1.8,2
2,1986,21.9,74.5,29.5,43.0,77.6,55.3,25.8,74.3,34.7,15.4,71.8,21.4,1.4,45.5,3.1,3
3,1986,17.1,73.4,23.3,16.7,77.3,21.5,23.9,76.9,31.1,17.9,74.3,24.1,3.0,34.2,8.7,4
4,1987,16.7,70.6,23.7,29.8,63.6,46.9,19.7,79.4,24.8,12.7,75.1,16.9,2.9,44.9,6.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2020,147.1,151.8,96.9,149.5,141.9,105.4,182.0,169.7,107.3,154.6,145.1,106.6,65.6,124.3,52.8,4
140,2021,178.2,170.3,104.7,215.4,158.8,135.6,234.7,194.1,120.9,156.1,148.5,105.1,62.6,163.3,38.4,1
141,2021,231.0,184.0,125.5,338.9,181.7,186.6,282.9,201.9,140.2,198.2,159.2,124.5,62.2,198.3,31.4,2
142,2021,265.2,188.9,140.3,433.0,187.0,231.5,275.8,201.1,137.1,237.0,169.7,139.7,102.3,219.6,46.6,3
143,2021,227.2,191.3,118.8,287.0,188.7,152.1,244.6,203.9,120.0,238.1,169.2,140.8,110.4,243.9,45.2,4

,año,ng_v,ng_q,ng_p,d_1,pp_v,pp_q,pp_p,d_2,moa_v,...,moa_p,d_3,moi_v,moi_q,moi_p,d_4,cye_v,cye_q,cye_p,Trimestre
0,1986,17.5,69.8,25.1,NaN,29.5,71.9,41.0,NaN,19.1,...,25.3,NaN,14.7,67.1,21.9,NaN,5.4,45.7,11.8,1
1,1986,22.8,72.7,31.3,NaN,57.0,75.0,75.9,NaN,21.4,...,29.4,NaN,14.2,68.0,20.8,NaN,0.9,48.5,1.8,2
2,1986,21.9,74.5,29.5,NaN,43.0,77.6,55.3,NaN,25.8,...,34.7,NaN,15.4,71.8,21.4,NaN,1.4,45.5,3.1,3
3,1986,17.1,73.4,23.3,NaN,16.7,77.3,21.5,NaN,23.9,...,31.1,NaN,17.9,74.3,24.1,NaN,3.0,34.2,8.7,4
4,1987,16.7,70.6,23.7,NaN,29.8,63.6,46.9,NaN,19.7,...,24.8,NaN,12.7,75.1,16.9,NaN,2.9,44.9,6.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2020,147.1,151.8,96.9,NaN,149.5,141.9,105.4,NaN,182.0,...,107.3,NaN,154.6,145.1,106.6,NaN,65.6,124.3,52.8,4
140,2021,178.2,170.3,104.7,NaN,215.4,158.8,135.6,NaN,234.7,...,120.9,NaN,156.1,148.5,105.1,NaN,62.6,163.3,38.4,1
141,2021,231.0,184.0,125.5,NaN,338.9,181.7,186.6,NaN,282.9,...,140.2,NaN,198.2,159.2,124.5,NaN,62.2,198.3,31.4,2
142,2021,265.2,188.9,140.3,NaN,433.0,187.0,231.5,NaN,275.8,...,137.1,NaN,237.0,169.7,139.7,NaN,102.3,219.6,46.6,3
143,2021,227.2,191.3,118.8,NaN,287.0,188.7,152.1,NaN,244.6,...,120.0,NaN,238.1,169.2,140.8,NaN,110.4,243.9,45.2,4